/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.*/

.font-awesome {
    font-family: FontAwesome, fontawesome-webfont;
    font-size: 22px;
    float: left;
    display: inline;
}

.no-button-border {
    /* from https://github.com/NativeScript/NativeScript/issues/2626*/
    background-color: rgba(255, 0, 0, 0.0);
    border-color:rgba(255, 0, 0, 0.0);
    border-width: 1;

    padding:0px;
    margin:0px;
}

button {
    background-color: #ffa331;
    /* complementary color #318dff  http://www.colorhexa.com/318dff*/
}

.scrollView {
    width:100%;
    height:100%;
}



/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
